/* Base (light) */
:root {
  /* Colors */
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --input-bg: #ffffff;

  /* Toast */
  --toast-bg: #ffffff;
  --toast-color: #171717;
  --toast-border: #e4e4e7;
}

/* Dark mode variables */
.dark {
  /* Colors */
  --background: #1a1b1e;
  --foreground: #e1e1e6;
  --card-bg: #25262b;
  --input-bg: #25262b;

  /* Toast */
  --toast-bg: #25262b;
  --toast-color: #e1e1e6;
  --toast-border: #373a40;
}
